In [38]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

df.head(50)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
5,0014-1,Space Mini-Figures,1979,12.0,Supplemental,Space
6,0015-1,Space Mini-Figures,1979,NaN,Supplemental,Space
7,0016-1,Castle Mini Figures,1978,NaN,Castle,Castle
8,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland
9,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland
10,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland
11,005-1,Basic Building Set in Cardboard,1965,35.0,Basic Set,Classic
12,00-6,Special Offer,1985,3.0,Classic Town,Town
13,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland
14,010-1,Basic Building Set in Cardboard,1965,57.0,Basic Set,Classic
15,010-3,Basic Building Set,1968,77.0,Basic Set,Classic
16,011-1,Basic Building Set,1968,145.0,Basic Set,Classic
17,022-1,Basic Building Set,1968,110.0,Basic Set,Classic
18,03093-1,The Race to Build It Board Game,1999,NaN,Game,Gear
19,033-2,Basic Building Set,1968,NaN,Basic Set,Classic
20,044-1,Basic Building Set,1968,NaN,Basic Set,Classic
21,055-2,Basic Building Set,1968,NaN,Basic Set,Classic
22,066-1,Basic Building Set,1968,NaN,Basic Set,Classic
23,080-1,Basic Building Set with Train,1967,710.0,Basic Set,Classic
24,088-1,Super Set,1969,615.0,Basic Set,Universal Building Set
25,10000-1,Guarded Inn,2001,256.0,Castle,Castle
26,10001-1,Metroliner,2001,NaN,Train,Train
27,10002-1,Railroad Club Car,2001,272.0,Train,Train
28,10003-1,1 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
29,10004-1,2 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
30,10005-1,2 x 4 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
31,10006-1,1 x 6 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
32,10007-1,2 x 4 Sand Red Ridge Roof Tiles Steep Slope,2001,25.0,Bulk Bricks,Bulk Bricks
33,10008-1,2 x 4 Roof Tile Sand Red,2001,50.0,Bulk Bricks,Bulk Bricks
34,10009-1,Assorted Blue Bricks,2001,62.0,Bulk Bricks,Bulk Bricks
35,100-1,4.5V Motor with Wheels (Small Version),1966,16.0,4.5V,Train
36,10010-1,Assorted Yellow Bricks,2003,63.0,Bulk Bricks,Bulk Bricks
37,10011-1,Assorted Blue Plates,2001,42.0,Bulk Bricks,Bulk Bricks
38,10012-1,Assorted Yellow Plates,2001,NaN,Bulk Bricks,Bulk Bricks
39,10013-1,Open Freight Wagon,2001,NaN,My Own Train,Train
40,10014-1,Caboose,2001,170.0,My Own Train,Train
41,10015-1,Passenger Wagon,2001,194.0,My Own Train,Train
42,10016-1,Tanker,2001,128.0,My Own Train,Train
43,10017-1,Hopper Wagon,2001,228.0,My Own Train,Train
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
46,100-2,4.5V Motor with Wheels (Large Version),1966,27.0,4.5V,Train
47,10020-1,"Santa Fe Super Chief, NOT the Limited Edition",2002,NaN,9V,Train
48,10020-2,"Santa Fe Super Chief, Limited Edition",2002,NaN,9V,Train
49,10021-1,U.S.S. Constellation,2003,NaN,Hobby Sets,Hobby Sets

In [40]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [ ]:
#i think this is right?

In [44]:
parent_theme.head(50)

     id                      name  is_licensed
0     1                   Technic        False
1    22                   Creator        False
2    50                      Town        False
3   112                    Racers        False
4   126                     Space        False
5   147                   Pirates        False
6   155         Modular Buildings        False
7   158                 Star Wars         True
8   186                    Castle        False
9   204             Designer Sets        False
10  206                  Seasonal        False
11  233                     Train        False
12  246              Harry Potter         True
13  252              Architecture        False
14  254               Bulk Bricks        False
15  258                Mindstorms        False
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True
19  270                    Ben 10         True
20  271          Prince of Persia         True
21  272     SpongeBob SquarePants         True
22  273                   Studios        False
23  275                 Toy Story         True
24  276                Sculptures        False
25  278                Model Team        False
26  279                 4 Juniors        False
27  296               Adventurers        False
28  301                     Other        False
29  302                    Agents        False
30  304                Alpha Team        False
31  307                  Aquazone        False
32  315                  Atlantis        False
33  317                    Avatar         True
34  318                  Belville        False
35  324                  Bionicle        False
36  363                      Boat        False
37  364  Building Set with People        False
38  365                   Classic        False
39  384                 Dino 2010        False
40  385               Dino Attack        False
41  386                 Dinosaurs        False
42  387                 Discovery        False
43  388     Disney's Mickey Mouse         True
44  389                 Exo-Force        False
45  390                  Fabuland        False
46  397                   Factory        False
47  398         FIRST LEGO League        False
48  399                 Freestyle        False
49  400              Hero Factory        False

In [48]:
merged = df.merge(parent_theme, left_on='parent_theme', right_on='name')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [50]:
merged = df.merge(parent_theme, left_on='parent_theme', right_on='name')
merged.drop(columns='name_y', inplace=True)
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [51]:
licensed = merged[merged['is_licensed']]
licensed.head()

star_wars = licensed[licensed['parent_theme']=='Star Wars']

star_wars.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
3498,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
3499,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3500,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3501,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3502,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True
3503,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3504,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3505,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,True
3506,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,True
3507,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,True
3508,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3509,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
3510,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3511,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3512,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,True
3513,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3514,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,True
3515,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3516,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,True
3517,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3518,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,True
3519,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,True
3520,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,True
3521,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
3522,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,True
3523,20016-1,Imperial Shuttle - Mini,2010,70.0,Star Wars Episode 4/5/6,Star Wars,158,True
3524,20018-1,AT-AT Walker - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3525,20019-1,Slave I,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3526,20021-1,Bounty Hunter Gunship - Mini,2011,81.0,Star Wars Clone Wars,Star Wars,158,True
3527,2853590-1,Stormtrooper,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3528,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,True
3529,2856197-1,Shadow ARF Trooper,2011,NaN,Minifig Pack,Star Wars,158,True
3530,30004-1,Battle Droid on STAP,2009,NaN,Star Wars Clone Wars,Star Wars,158,True
3531,30005-1,Imperial Speeder Bike,2009,33.0,Star Wars Episode 4/5/6,Star Wars,158,True
3532,30006-1,Clone Walker,2009,31.0,Star Wars Clone Wars,Star Wars,158,True
3533,30050-1,Republic Attack Shuttle - Mini,2010,54.0,Star Wars Clone Wars,Star Wars,158,True
3534,30051-1,X-wing Fighter - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3535,30052-1,AAT - Mini,2011,NaN,Star Wars Episode 2,Star Wars,158,True
3536,30053-1,Republic Attack Cruiser - Mini,2011,41.0,Star Wars Episode 3,Star Wars,158,True
3537,30054-1,AT-ST - Mini,2011,46.0,Star Wars Episode 4/5/6,Star Wars,158,True
3538,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,True
3539,30056-1,Star Destroyer,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3540,30057-1,Anakin's Pod Racer,2012,NaN,Star Wars Episode 1,Star Wars,158,True
3541,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
3542,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True

In [52]:
licensed = merged[merged['is_licensed']]
licensed.head()

star_wars = licensed[licensed['parent_theme']=='Star Wars']

star_wars.shape

(609, 8)

In [54]:
# the reason we have an on 45 error is because we did not filter out all of our data properly. 
licensed = merged[merged['is_licensed']]
licensed.head()

star_wars = licensed[licensed['parent_theme']=='Star Wars']

the_force = int(star_wars.shape[0]/licensed.shape[0]*100)

print(the_force)

45

In [55]:
#so it changes to 51, we got rid of the nna rows and let us get that percentage. 51 is the correct answer. 52 is also works. for the first task. 
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna(subset=['set_num'])
licensed.head()

star_wars = licensed[licensed['parent_theme']=='Star Wars']

the_force = int(star_wars.shape[0]/licensed.shape[0]*100)

print(the_force)

51

In [56]:
#starting with task 2, we want to find out the most important year. groupby method???

licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [59]:
 # task 2 is completed, 
    licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1

summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()

max_df = summed_df.sort_values('count', ascending=False).drop_duplicates(['year'])

max_df.sort_values('year', inplace=True)
max_df

C:\Users\Student\AppData\Local\Temp\ipykernel_13764\337565426.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054           13     13
2   2000     Star Wars     2580.0   4108           26     26
4   2001     Star Wars     2949.0   2212           14     14
6   2002     Star Wars     4735.0   4424           28     28
9   2003     Star Wars     6660.0   5056           32     32
12  2004     Star Wars     1659.0   3160           20     20
16  2005     Star Wars     4730.0   4424           28     28
20  2006     Star Wars     2769.0   1738           11     11
24  2007     Star Wars    11361.0   2528           16     16
28  2008     Star Wars     6865.0   3634           23     23
32  2009     Star Wars     3953.0   6162           39     39
36  2010     Star Wars     6003.0   4740           30     30
42  2011     Star Wars     3451.0   5056           32     32
47  2012     Star Wars     6769.0   6794           43     43
52  2013     Star Wars     6159.0   5530           35     35
59  2014     Star Wars     8293.0   7110           45     45
67  2015     Star Wars    11410.0   9164           58     58
76  2016     Star Wars     6934.0   9638           61     61
82  2017  Super Heroes    13123.0  34704           72     72

In [67]:
new_era = 2017
#im not sure why is not working... ahhh nvm. when you are doing projects 
#in datacamp come up with your own task so you can really know the data thats in front of you.

# Break down number by Year.

In [72]:
#idk why is it not working its the same code as the youtuber. nvm it worked 
clean_df = merged[merged['set_num'].isnull()]
clean_df['count'] = 1 

sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year','count']]

sets_per_year.head (50)

C:\Users\Student\AppData\Local\Temp\ipykernel_13764\2902911714.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1
C:\Users\Student\AppData\Local\Temp\ipykernel_13764\2902911714.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year','count']]

    year  count
0   2001      3
1   2002      9
2   2003      3
3   2004      9
4   2005      2
5   2006      3
6   2007      2
7   2008      2
8   2010      4
9   2011      2
10  2012     10
11  2013     15
12  2014     17
13  2015     10
14  2016     26
15  2017     36

In [74]:
clean_df = merged[merged['set_num'].isnull()]
clean_df['count'] = 1 

sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year','count']]

for index,row in sets_per_year.iterrows():
    print(row['year'],row['count'])

2001 3
2002 9
2003 3
2004 9
2005 2
2006 3
2007 2
2008 2
2010 4
2011 2
2012 10
2013 15
2014 17
2015 10
2016 26
2017 36

C:\Users\Student\AppData\Local\Temp\ipykernel_13764\536764443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1
C:\Users\Student\AppData\Local\Temp\ipykernel_13764\536764443.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year','count']]